// Colors
$text-color: #a65;
$gray: #444;
$board-color: #aeaf8f;
$yellow: #f4ee98;
$yellow-dark: desaturate(darken($yellow, 10%), 20%);
$green: #247354;

// Geometry
$page-width: 70%;
$page-max-width: 600px;